@{
    ViewData["Title"] = "Política De Privacidad";
}
<div class="wrapper">
    <div class="content-wrapper d-flex justify-content-center flex-column align-content-center align-items-center">

        <h1>@ViewData["Title"]</h1>
        <br/>
        <p><strong>Hecho por:</strong> Jhon Sebastian Navas</p>
    </div>
</div>
